@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color: #ea580c;
  --secondary-color: #020617;
  --padding: 0.8rem 2rem;
  --border-radius: 25px;
}

body {
  background-color: white;
  background-image: url(./img/bg.png);
  height: 200vh;
}

/* #home {
  height: ;
} */

svg{
    fill: white;
}

/*------------------------------------------THIS IS THE NAVIGATION MENU---------------------------------------------------------------*/
.navMenuContainer {
    width: 100%;
    
}
.navListItems {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 0.5rem 0 1rem 0;
  border-radius: 50px;
  width: 100%;
  align-items: center;
}
.navItems a {
  color: white;
  border: 1.5px solid var(--primary-color);
  padding: var(--padding);
  border-radius: var(--border-radius);
  list-style: none;
  text-decoration: none;
  transition: ease-out 500ms;
}

.navItems {
  display: flex;
}
.navItems .hideMenu {
  display: none;
}
.navItems ul {
  display: flex;
  list-style: none;
}
.navItems a,
.hideMenu {
  text-decoration: none;
  padding: var(--padding);
  margin: 0 0 0 0.5rem;
  border-radius: 25px;
  border: 1.5px solid var(--primary-color);
  transition: ease-out 500ms;
  color: black;
}
.navItems a:hover,
.hideMenu:hover {
  background-color: var(--primary-color);
  transition: ease-in 500ms;
}
.hideMenu {
  color: white;
}

/* DARK/LIGHT MODE */
#dark-light-icon{
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 2rem;
    left: 1rem;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 1.5rem;
    
}
body.dark-mode{
    background-color: var(--secondary-color);
    color: white;
}

/* DARK/LIGHT MODE END */
/*--------------------------------------------END OF NAVIGATION MENU--------------------------------------------------------------*/
.main-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.hero-img {
  width: 80%;
  height: 100%;
  place-content: center;
  place-items: center;
  margin: 2rem;
}
.h1-content {
  display: flex;
  justify-content: baseline;
  align-items: center;
  padding: 5rem 5rem;
  font-size: 50px;
  font-weight: 800;
  text-transform: capitalize;
  color: black;
  font-size: 4.5rem;
  -webkit-text-stroke: 1px hsl(180, 4%, 98%);
  color: transparent;
}
span {
  color: var(--primary-color);
}

/*------------------------------------------------------MEDIA QUERY------------------------------------------------*/

@media (max-width: 750px) {
  .navItems ul {
    display: none;
  }
  .navItems .hideMenu {
    display: block;
  }
  .h1-content{
    font-size: 42px;
  }
}
