@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color: #ea580c;
  --secondary-color: #020617;
  --padding: 0.8rem 2rem;
  --border-radius: 25px;
}

body {
  background-color: var(--secondary-color);
  color: white;
  background-image: url(./img/bg.png);
  height: 200vh;
  transition: ease-in-out 1s;
}

/* #home {
  height: ;
} */

svg {
  fill: white;
}

/*------------------------------------------THIS IS THE NAVIGATION MENU---------------------------------------------------------------*/
.navMenuContainer {
  width: 100%;
}
.navListItems {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 0.5rem 0 1rem 0;
  border-radius: 50px;
  width: 100%;
  align-items: center;
}
.navItems a {
  color: white;
  border: 1.5px solid var(--primary-color);
  padding: var(--padding);
  border-radius: var(--border-radius);
  list-style: none;
  text-decoration: none;
  transition: ease-out 500ms;
}

.navItems {
  display: flex;
}
.navItems .hideMenu {
  display: none;
}
.navItems ul {
  display: flex;
  list-style: none;
}
.navItems a,
.hideMenu {
  text-decoration: none;
  padding: var(--padding);
  margin: 0 0 0 0.5rem;
  border-radius: 25px;
  border: 1.5px solid var(--primary-color);
  transition: ease-out 500ms;
  color: ;
}
.navItems a:hover,
.hideMenu:hover {
  background-color: var(--primary-color);
  transition: ease-in 500ms;
}

.homeBtn {
  position: fixed;
  bottom: 3rem;
  right: 2rem;
}
.homeBtn a {
  text-decoration: none;
  border: 1px solid var(--primary-color);
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  color: white;
}
.homeBtn li {
  list-style: none;
}

/* DARK/LIGHT MODE */
/* #dark-mode {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 2rem;
  left: 1rem;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 2rem;
  display: flex;
  gap: 1rem;
}
.hideMenu.dark-mode {
  color: black;
}

body.dark-mode {
  background-color: var(--secondary-color);
  color: white;
  transition: ease-in-out 500ms;
} */

/* DARK/LIGHT MODE END */
/*--------------------------------------------END OF NAVIGATION MENU--------------------------------------------------------------*/
.main-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.hero-img {
  width: 80%;
  height: 100%;
  place-content: center;
  place-items: center;
  margin: 2rem;
}

.h1-content {
  padding: 15rem 3rem;
  gap: 2rem;
}
.h1-hero {
  font-size: 4rem;
  -webkit-text-stroke: 1px hsl(180, 4%, 98%);
  color: transparent;
  text-transform: capitalize;
}

.contactButton {
  display: inline-block;
  margin-top: 2rem;
}

span {
  color: var(--primary-color);
}
.contactButton a {
  text-decoration: none;
  color: white;
}
.contactButton {
  background: transparent;
  color: white;
  font-family: inherit;
  padding: 0.45em;
  padding-left: 1em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: 1px solid var(--primary-color);
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3em;
}

.iconButton {
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em var(--primary-color);
  right: 0.3em;
  transition: all 0.3s;
}

.contactButton:hover {
  transition: transform ease-in-out 500ms;
}

.contactButton:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em var(--primary-color);
}
/*------------------------------------------------------MEDIA QUERY------------------------------------------------*/

@media (max-width: 750px) {
  .navItems ul {
    display: none;
  }
  .navItems .hideMenu {
    display: block;
  }
  .h1-content {
    font-size: 42px;
  }
  .hero-img {
    display: none;
  }
}
