@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comme:wght@500&display=swap");

span {
  color: var(--primary-color);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-family: "Comme", sans-serif;
  letter-spacing: 1px;
}

:root {
  --primary-color: #ea580c;
  --secondary-color: #020617;
  --padding: 0.8rem 2rem;
  --border-radius: 25px;
}

body {
  background-color: var(--secondary-color);
  color: white;
  background-image: url(./img/bg.png);
  height: 200vh;
  transition: ease-in-out 1s;
}

#home {
  height: 100vh;
}

svg {
  fill: white;
}

/*------------------------------------------THIS IS THE NAVIGATION MENU---------------------------------------------------------------*/
.navMenuContainer {
  width: 100%;
}
.navListItems {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 0.5rem 0 1rem 0;
  border-radius: 50px;
  width: 100%;
  align-items: center;
}
.navItems a {
  color: white;
  border: 1.5px solid var(--primary-color);
  padding: var(--padding);
  border-radius: var(--border-radius);
  list-style: none;
  text-decoration: none;
  transition: ease-out 500ms;
}

.navItems {
  display: flex;
}
.navItems .hideMenu {
  display: none;
}
.navItems ul {
  display: flex;
  list-style: none;
}
.navItems a,
.hideMenu {
  text-decoration: none;
  padding: var(--padding);
  margin: 0 0 0 0.5rem;
  border-radius: 25px;
  border: 1.5px solid var(--primary-color);
  transition: ease-out 500ms;
}
.navItems a:hover,
.hideMenu:hover {
  background-color: var(--primary-color);
  transition: ease-in 500ms;
}

.homeBtn {
  position: fixed;
  bottom: 3rem;
  right: 2rem;
}
.homeBtn a {
  text-decoration: none;
  border: 1px solid var(--primary-color);
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  color: white;
}
.homeBtn li {
  list-style: none;
}

/* DARK/LIGHT MODE */
/* #dark-mode {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 2rem;
  left: 1rem;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 2rem;
  display: flex;
  gap: 1rem;
}
.hideMenu.dark-mode {
  color: black;
}
body.dark-mode {
  background-color: var(--secondary-color);
  color: white;
  transition: ease-in-out 500ms;
} */

/* DARK/LIGHT MODE END */
/*--------------------------------------------END OF NAVIGATION MENU--------------------------------------------------------------*/

/*--------------------------------------------LANDING HERO SECTION--------------------------------------------------------------*/
.landing-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh;
  gap: 1rem;
  text-align: center;
  margin: 0.5rem;
}
.landing-heading span {
  color: var(--primary-color);
}
.landing-heading h1 {
  font-size: 2.2rem;
}
.landing-heading p {
  font-size: 0.8rem;
}
.registerBtn {
  font-size: 1.3rem;
  padding: 0.3rem 2rem;
  border-radius: 10px;
  border: 1.5px solid var(--primary-color);
  cursor: pointer;
  background-color: transparent;
  color: white;
  transition: ease-in-out 500ms;
}
.landing-heading a {
  color: white;
  text-decoration: none;
}
.registerBtn:hover,
.registerLink:hover {
  background-color: var(--primary-color);
  color: white;
  border-radius: 10px;
  transition: ease-in-out 500ms;
}

/*-----------------------------------------------------------ABOUT SECTION--------------------------------------------------*/
.profilePic {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  object-position: center;
  border-radius: 10px 10px 0 0;
}
#about {
}
.about-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin: 9rem 3rem;
}

#about h1 {
  text-align: center;
}
.person {
  background-color: #e5e7eb;
  color: black;
  max-width: calc(43vw - 2vw);

  max-height: 60vh;
  border-radius: 10px;
}
.about-leader-container {
  display: flex;
  gap: 2rem;

  flex-grow: 1;
  justify-content: center;
}
.about-league-info {
  padding: 1rem;
  background-color: #e5e7eb;
  color: black;
  border-radius: 10px;
  width: 100%;

  height: auto;
}
.about-person {
  flex-grow: 1;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
}

/*------------------------------------------------------------END OF ABOUT SECTION--------------------------------------------*/

/*--------------------------------------------ENDING HERO SECTION------------------------------------------------------------------*/
/*------------------------------------------------------MEDIA QUERY------------------------------------------------*/

@media (max-width: 750px) {
  .navItems ul {
    display: none;
  }
  .navItems .hideMenu {
    display: block;
  }

  .hero-img {
    display: none;
  }
  .about-container {
    flex-wrap: wrap;
  }
  .about-leader-container {
    flex-wrap: wrap;
  }
}

@media (min-width: 800px) {
  .landing-heading h1 {
    font-size: 4rem;
  }
}

@media (ax-width: 1804px) {
  .about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
/* --------------------------------------------------------------END OF MEDIA QUERY---------------------------------------------*/
